
{% extends "layout.html" %}

{% block css %}
<style>
.file {
	/*border: 1px solid rgb(0, 49, 86);*/
	display: inline-block;

	width: 20%;
	border-radius: 4px;
	box-sizing: border-box;
	margin: 20px;
	width: 100%;
	cursor: pointer;
}

.file:hover {
	background-color: rgba(0,49,86, 0.9);
	color: white;
}

.file:hover .filedate {
	color: white;
}
.filename {
	display: block;
	font-family: myriad;
	font-size: 1.3em;
}
.filestatus {
	display: block;
	font-size: 1em;
	font-family: myriad;
}
.fileicon {
	width: 30%;
	display: inline-block;
	vertical-align: top;
}
.filedetails {
	display: inline-block;
	padding-top: 10px;
	padding-right: 10px;
	margin-left: 10px;
	box-sizing: border-box;

}
.filedate {
	font-size: 1em;
	font-family: myriad;
	color: rgba(0,0,0,0.5);
}
.fileicon img {
	max-width: 90%;
}
.body-content {

}
.toolbar {
	position: fixed;
	top: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
	left: 0px;
	text-align: center;
	width: 100%;
	background-color: rgba(255,255,255,0.9);
	z-index: 99;
}	
#searchbox {
	width: 40%;
	outline-width: 0px;
	padding: 5px;
	font-family: myriad;
	border: 1px solid rgba(0,0,0,0.5);
	border-radius: 2px;
	margin-left: 10px;
	margin-right: 10px;
}
#searchbox:active, #searchbox:focus {
	border: 1px solid rgba(0,49,86, 1);
}
.btn {
	font-family: myriad;
}
</style>
{% endblock %}

{% block content %}
    <!-- <h1>Welcome {{ session.username }}</h1> -->
    <div class="toolbar">
    	<a href="/"><button class="btn btn-primary"><span class="glyphicon glyphicon-play-circle"></span> New</button></a>
    	<input type="text" class="anim" placeholder="Search..." id="searchbox" autocomplete="off" />
    </div>
	<div class="body-content">
		
	</div>
</div>
<script type="text/javascript">
  var FILE_DATA = '{{ files | tojson | safe }}';
  FILE_DATA = JSON.parse(FILE_DATA);
</script>
{% endblock %}

{% block js %}
<script>
	var icos = {
		docx: "{{ url_for('static', filename='img/word.png') }}",
		doc: "{{ url_for('static', filename='img/word.png') }}",
		pptx: "{{ url_for('static', filename='img/powerpoint.png') }}",
		ppt: "{{ url_for('static', filename='img/powerpoint.png') }}",
		txt: "{{ url_for('static', filename='img/text.png') }}"
	};
	var filestatus = {
		"GENERATING_TRANSLATED_PO_FILE:::COMPLETE":"Translation Complete",
		"PIPELINE_ERROR":"Pipeline Error"
	};

	var privacy = {
		true: "<i class=\"fa fa-globe\"></i>",
		false: "<i class=\"fa fa-lock\"></i>"
	}
	function render_files(filelist) {
		$('.body-content').html('');
		$.each(filelist, function(index, val) {
			var element = "";
			element += '<div class="col-md-4">\
			    <div class="file anim" id="'+val[0]+'/'+val[1]+'">\
					<div class="fileicon">\
						<img src="'+window.icos[val[1].split('.')[val[1].split('.').length-1]]+'" />\
					</div>\
					<div class="filedetails">\
						<span class="filename">'+val[1]+'</span>\
						<span class="filestatus"><sup>'+window.privacy[val[2]]+"</sup> "+window.filestatus[val[3]]+'</span>\
						<span class="filedate anim">'+val[4]+'</span>\
					</div>\
			    </div>\
			</div>';
			$('.body-content').append(element);
		});
	}
	function search() {
		console.log("YAYAYA");
		var filelist = [];
		var query = $('#searchbox').val();
		if (query == "") {
			render_files(window.FILE_DATA);
		}
		$.each(FILE_DATA, function(index, val) {
			if (val[1].toLowerCase().indexOf(query.toLowerCase())>-1) {
				filelist.push(val);
			}
		});	
		render_files(filelist);
	}
	$(document).ready(function() {
		$('.toolbar').css({top: $('nav').height()+10+"px"});
		render_files(window.FILE_DATA);
		$('#searchbox').keyup(function() {
			search();
		});
		$('.file').click(function() {
			window.location.href = "/translate/"+this.id;
		});
	});
</script>
{% endblock %}
