[submodule "translatorsdesk/static/libs/CodeMirror"]
	path = translatorsdesk/static/libs/CodeMirror
	url = https://github.com/spMohanty/CodeMirror
[submodule "translatorsdesk/static/libs/Context.js"]
	path = translatorsdesk/static/libs/Context.js
	url = https://github.com/spMohanty/Context.js
[submodule "translatorsdesk/static/libs/jquery.ime"]
	path = translatorsdesk/static/libs/jquery.ime
	url = https://github.com/spMohanty/jquery.ime.git
[submodule "translatorsdesk/static/libs/SocketIO"]
	path = translatorsdesk/static/libs/SocketIO
	url = https://github.com/spMohanty/socket.io-client.git
[submodule "translatorsdesk/static/libs/jQuery-MD5"]
	path = translatorsdesk/static/libs/jQuery-MD5
	url = https://github.com/placemarker/jQuery-MD5.git
[submodule "translatorsdesk/static/libs/jquery-filedrop"]
	path = translatorsdesk/static/libs/jquery-filedrop
	url = https://github.com/weixiyen/jquery-filedrop.git
[submodule "translatorsdesk/static/libs/dropzone"]
	path = translatorsdesk/static/libs/dropzone
	url = https://github.com/enyo/dropzone.git
