[submodule "translatorsdesk/static/libs/CodeMirror"]
	path = translatorsdesk/static/libs/CodeMirror
	url = https://github.com/spMohanty/CodeMirror
[submodule "translatorsdesk/static/libs/Context.js"]
	path = translatorsdesk/static/libs/Context.js
	url = https://github.com/spMohanty/Context.js
[submodule "translatorsdesk/static/libs/jquery.ime"]
	path = translatorsdesk/static/libs/jquery.ime
	url = https://github.com/spMohanty/jquery.ime.git
[submodule "translatorsdesk/static/libs/SocketIO"]
	path = translatorsdesk/static/libs/SocketIO
	url = https://github.com/spMohanty/socket.io-client.git
