/* =============================================================================
   App specific CSS file.
   ========================================================================== */

/* universal */

@font-face {
  font-family: myriadL;
  src: url('../fonts/myriadl.otf');
}

@font-face {
  font-family: myriad;
  src: url('../fonts/myriadpro.ttf');
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 100px;
  margin-bottom: 60px;
  font-family: myriadL;
  /*background: url('../img/bgtile.png');*/
}
.anim {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

div {
    text-align: justify;
    text-justify: inter-word;  
}

.btn {
  font-family: myriad;
}
.container-narrow{
  margin: 0 auto;
  max-width: 700px;
}

/* Forms */

input, select {
  font-family: myriad;
}

.navbar-form input[type="text"],
.navbar-form input[type="password"] {
  width: 180px;
}

.navbar-right {
  font-size: 1.1em;
}
.form-register {
  width: 50%;
}

.form-register .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


.navbar {
background: rgb(0, 49, 86);
  color: white;
  padding-top: 5px;
z-index: 99;
  border-bottom: 5px solid black;

}

ul.navbar {
  list-style-type: none;
  color: white;
}
.navbar li a {
  color: white;
}

#hero_logo {
  color: white;
text-shadow: 0 2px 3px rgba(255, 255, 255, 0.3), 0 -1px 2px rgba(0, 0, 0, 0.2);
  color: #d7dee1;
  font-size: 2em;
  vertical-align: bottom;
}


/* footer */

footer {
  padding-top: 10px;
  border-top: 1px solid rgba(0,0,0,0.4);
  color: black;
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 99;
  font-size: 1.1em;
  font-family: myriad;
  background-color: white;
}

footer a {
  color: black;
}

footer p {
  float: right;
  margin-right: 25px;
}

footer ul {
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

footer .company {
  float: left;
  margin-left: 5%;
}

footer .footer-nav {
  float: right;
  margin-right: 5%;
  list-style: none;
}

#po-container {
  box-sizing: border-box;
}

#po-container .row:nth-of-type(odd) {
    background: #eee;
}

#po-container .row {
  padding-top : 8px;
}

p.subheading {
  font-size: 1.2em;
  color: rgba(0,0,0,0.5);
}

.dropdown {
   display: inline-block;
}

.fa {
    display:inline-block;
/*    line-height: 40px;*/
    text-align: center;
    vertical-align: bottom;
}

.btn-success {
  border-bottom: 3px solid #1B5E20;
}
.btn-primary {
  border-bottom: 3px solid rgb(0, 49, 86);

}
.navbar-text a {
  text-decoration: none;
}
.navbar-text a:hover {
}
/* Animation for translate page begins */

.circle {
    background-color: rgba(255,255,255,1);
    border: 3px solid rgba(0,0,0,0.9);
    border-right: 3px solid rgba(0,0,0,0);
    border-left: 3px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 10px black;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    -moz-animation: spinPulse 1s infinite ease-in-out;
    -webkit-animation: spinPulse 1s infinite linear;
}

@-moz-keyframes spinPulse {
    0% {
        -moz-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px black;
    }

    50% {
        -moz-transform: rotate(145deg);
        opacity: 1;
    }

    100% {
        -moz-transform: rotate(-320deg);
        opacity: 0;
    };
}

@-moz-keyframes spinoffPulse {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    };
}

@-webkit-keyframes spinPulse {
    0% {
        -webkit-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px black;
    }

    50% {
        -webkit-transform: rotate(145deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(-320deg);
        opacity: 0;
    };
}

@-webkit-keyframes spinoffPulse {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    };
}

/* Animation for translate page ends */

