/* =============================================================================
   App specific CSS file.
   ========================================================================== */

/* universal */

@font-face {
  font-family: myriadL;
  src: url('../fonts/fonts/myriadpro.ttf');
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  font-family: myriadL;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

div {
    text-align: justify;
    text-justify: inter-word;  
}

.container-narrow{
  margin: 0 auto;
  max-width: 700px;
}

/* Forms */

.navbar-form input[type="text"],
.navbar-form input[type="password"] {
  width: 180px;
}


.form-register {
  width: 50%;
}

.form-register .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 10px;
  border-top: 2px solid black;
  color: black;
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 99;
  font-size: 1.2em;
  background-color: white;
}

footer a {
  color: black;
}

footer p {
  float: right;
  margin-right: 25px;
}

footer ul {
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

footer .company {
  float: left;
  margin-left: 5%;
}

footer .footer-nav {
  float: right;
  margin-right: 5%;
  list-style: none;
}

#po-container .row:nth-of-type(odd) {
    background: #eee;
}

#po-container .row {
  padding-top : 8px;
}

p {
  font-size: 1.4em;
}