.CodeMirror {
  font-size: 16px;
}
.codemirror_menu {
  margin-bottom: 0px;
  border: 0px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;  
}
.codemirror_menu .container-fluid div ul li a {
  padding-right: 1px;
  font-size : 18px;
}

.translators-desk-marker-ner {
	color: #fff;
	background: #d9534f;
	border-color: #d43f3a;
	padding:3px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.translators_desk_context_menu_header {
	color: grey;
	padding-left: 10px;
	font-size: 10px;
}

/**
 * Hide unwanted parts of jquery.ime helper menu
 */

.ime-language-list-wrapper {
	display:none;
}
.ime-help-link {
	display:none;
}
.ime-lang-title {
	display:none;
}