.CodeMirror {
  font-size: 16px;
  /*height: auto;*/
  border: 2px solid black;
}
.raw_text {
	height: 200px;
}
.codemirror_menu {
  margin-bottom: 0px;
  border: 0px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;  
  max-width: 100%;

}
.codemirror_block {
	width: 100%;
	display: inline-block;
}
.codemirror_menu .container-fluid div ul li a {
  padding-right: 1px;
  font-size : 18px;
}

.CodeMirror-hint {
	font-size : 16px;
}

.translators-desk-marker-ner {
	color: #fff;
	background: #d9534f;
	border-color: #d43f3a;
	padding:3px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.translators-desk-marker-spell-error {
  text-decoration: none;
  border-bottom: 2px dashed red;
}

.translators_desk_context_menu_header {
	color: grey;
	padding-left: 10px;
	font-size: 10px;
}

.td-menu-item-spell-check-selected {
	color : #2e6da4;
}

/**
 * Hide unwanted parts of jquery.ime helper menu
 */

.ime-language-list-wrapper {
	display:none;
}
.ime-help-link {
	display:none;
}
.ime-lang-title {
	display:none;
}
#intermediate_results tr td {
	text-align: center;
}
#output_display .codemirror_block {
	width: 80%;
}
#output_selector li {
	padding: 5px;
	text-align: center;
	width: 100%;
}
#output_selector li:hover {
	background-color: rgba(0,0,0,0.9);
	color: white;
	cursor: pointer;
}
#intermediate_results {
	display: none;
	max-height: 30%;
	overflow-y: hidden;
}
#output_selector {
	vertical-align: top;
	max-height: 50%;
	overflow-y: scroll;
	height: 50%;
}
#translators_desk_show_intermediates_btn {
	display: none;
}
#intermediate_dialog {
	overflow: hidden;
}


.panel-title .source-text {
  color:rgba(0,0,0,0.5);
}
.panel-title .target-text {
  color: rgba(0,0,0,1);
}

.panel-title:hover {
	cursor: pointer;
	background-color: rgba(0,0,0,0.1);

	color: white;
}

.panel-title .source-text {
	display: block;
	font-size: 1em;
	/*font-weight: bolder;*/
}

.panel-title .target-text {
	display: block;
	font-size: 1.3em;
}

.panel-title {
	padding: 10px;
}
.panel-body {
	/*margin-top: 50px;*/
}

.panel-row {
	display: block;
	border-top: 1px dashed rgba(0,0,0,0.7);
	border-collapse: collapse;
}
.codemirror_menu {
	display: none;
}
div.thead {
 background-color: rgba(0,0,0,0.8);
 color: white;
 border: 2px solid white;
 margin-bottom: 30px;
}
.src_text, .tgt_text {
	padding: 2px;
}
.highlight {
	border-bottom: 2px solid black;
}
.raw-group {
	/*display: none;*/
}
#raw_text {
	height: 200px;
	font-size: 1.3em;
}
#translators-desk-dropzone {
	display: none;
}