
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">

  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a id="hero_logo" class="navbar-brand" href="{{ url_for('public.home') }}">
      Anuvaad
    </a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse navbar-right">
    <!-- <ul class="nav navbar-nav">
      <li><a href="{{ url_for('public.home') }}">My Account</a></li>
     <li><a href="{{ url_for('public.about') }}">About</a></li> 
    </ul> -->
    <ul class="nav navbar-nav navbar-right">

    {% if current_user and current_user.is_authenticated() %}
        <li>
            <p class="navbar-text"><a class="navbar-link" href="{{ url_for('user.account') }}">{{ current_user.username }} : My Account</a></p>
        </li>
        <li><a class="navbar-link" href="{{ url_for('public.logout') }}"><i class="fa fa-sign-out"></i></a></li>

    {% else %}
    <li><a href="{{ url_for('public.register') }}" style="color: white;"><span class="glyphicon glyphicon-user"></span> &nbsp;My Account</a></li> 

    {% endif %}
    </ul>

  </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>

