
{% extends "layout.html" %}
{% block css %}
<style>
body, html {
  overflow: hidden;
}

</style>
{% endblock %}

{% block content %}
<div class="body-content">
    <div class="row">
      <div class="col-md-12" style="text-align: center;">
        <!-- <div class="col-xs-4" style="text-align: right;"> -->
          <button class="btn btn-default btn-outline change_lang_btn lang_label" type="button" id="sourceLanguage" style="outline-width: 0px;">Source Language</button>
        <!-- </div> -->
        <!-- <div class="col-xs-4"> -->
          <!-- <center> -->
           <sup> <i id="lang_interchange" class="fa fa-exchange fa-2x lang_label"></i></sup>
          <!-- </center> -->
        <!-- </div> -->
        <!-- <div class="col-xs-4" style="text-align: left;"> -->
          <button class="btn btn-default btn-outline change_lang_btn lang_label" type="button" id="targetLanguage" style="outline-width: 0px;">Target Language</button>
        <!-- </div> -->
            <div id="translation_controls">
            <form id="translators-desk-dropzone" action="/upload-target" class="dropzone file-group"></form>

              <!-- The fileinput-button span is used to style the file input field as button -->
              <center>
              <span id="add-files" class="btn btn-primary fileinput-button">
                  <span><span class="glyphicon glyphicon-file"></span> Upload</span>
              </span>
              <!-- <button class="btn btn-primary" id="switch_mode">Switch to text mode</button> -->
              <button id="submit_raw" class="btn btn-success btn-primary raw-group" style="background-color: #43A047;"><span class="glyphicon glyphicon-play-circle"></span> Translate</button>
            </div>
      </div>
    </div>
    <br /><br />
    <br />
    <div class="row">
      <div class="col-md-12" style="text-align: center;">
        <ul id="word_suggestions">
          <li class="anim">Word suggestions will appear here</li>
        </ul><br />
        <div id="codemirror_block_1" td-editor-id=1 class="codemirror_block raw_text anim" style="width: auto;"></div>
      </div>
    </div>
    
        <!-- <input id="input" onchange="inpage_convert(this.files[0])" type="file"> -->
 <div class="row">
        <span class="fileupload-process">
          <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
            <div class="progress-bar progress-bar-primary" style="width:0%;" data-dz-uploadprogress></div>
          </div>
        </span>
      </div> 

    </div>

  </div><!-- /.row -->

</div>
<div id="editor_overlay">
<table width="100%">
  <tr>
    <td width="50%" style="text-align: center;">
      <big>Source Language</big>
    </td>
    <td width="50%" style="text-align: center;">
      <big>Target Language</big>
    </td>
  </tr>
  <tr>
    <td width="50%" style="text-align: center;">
      <ul id="sourceList">
      </ul>
    </td>
    <td widt="50%" style="text-align: center;">
      <ul id="targetList">
        <small>Please select a source language first</small>
      </ul>
    </td>
  </tr>
</table>
</div>

<div id="progressbar">
</div>
{% endblock %}
{% block js %}
  <script src="{{ url_for('static', filename='sepjs/home-html.js') }}"> </script>
  <script src="{{ url_for('static', filename='js/dropzone.js') }}"> </script>
  <script src="{{ url_for('static', filename='libs/dropzone/dist/dropzone.js') }}"> </script>
  <script src="{{ url_for('static', filename='js/inpage2unicode.js') }}"> </script>

{% endblock %}
