
{% extends "layout.html" %}
{% block content %}


<div class="container-fluid">

  {% if not (status.__len__() >0 and (status[0]=="GENERATING_TRANSLATED_PO_FILE:::COMPLETE" or status[0].startswith("OUTPUT_FILE_GENERATED") )) %}
    <div id="loading-div" class="row">
        <center>
        <br />
        <br />
        <br />
        <div class="circle"></div>
        <br/><br /><br />
        <h2 id="translation_status"></h2>
        </center>
    </div>
  {% else %}
      <script type="text/javascript">
          var PO_DATA = '{{ PO | tojson | safe }}';
    </script>
     <div class="row">
      <div class="col-md-12">
      <div id="po-container" class="container">
      </div>
    </div>
  </div>
  {% endif %}
</div>
<div id="download_controls">
        <center>
        <button id="preview" class="btn btn-primary" style="margin-bottom: 20px;">Preview</button>
        <button id="download" class="btn btn-success" style="margin-bottom: 20px;">Download {{fileName}}</button>
        </center>
      </div>
<script type="text/javascript">
  window.uid = '{{uid}}';
  window.fileName = '{{fileName}}';
  window.translationStatus = '{{status[0]}}';
</script>
{% endblock %}

{% block js %}
  <script src="{{ url_for('static', filename='sepjs/poeditor.js') }}"> </script>
  <script src="{{ url_for('static', filename='sepjs/translate-html.js') }}"> </script>

{% endblock %}