
{% extends "layout.html" %}
{% block content %}


<div class="container-fluid">

      <script type="text/javascript">
          var PO_DATA = '{{ PO | tojson | safe }}';
    </script>
     <div class="row">
      <div class="col-md-12">
      <div id="po-container" class="container anim">
      </div>
    </div>
  </div>

</div>
<div id="download_controls">
        <center>
        <button id="preview" class="btn btn-primary">Preview</button>
        <button id="download" class="btn btn-success">Download this file</button>
        </center>
      </div>
<div id="sentence_overlay">
Hello <i class="fa fa-times fa-2x" id="close_btn"></i>
</div>
<div id="progressbar">
</div>
<script type="text/javascript">
  window.uid = '{{uid}}';
  window.fileName = '{{fileName}}';
  window.translationStatus = '{{status[0]}}';
</script>
{% endblock %}

{% block js %}
  <script src="{{ url_for('static', filename='sepjs/poeditor.js') }}"> </script>
  <script src="{{ url_for('static', filename='sepjs/translate-html.js') }}"> </script>

{% endblock %}