
{% extends "layout.html" %}
{% block content %}


<div class="container-fluid">
  <div class="row">
      <div class="col-md-2 col-md-offset-1">
        <h3>{{fileName}}</h3>
      </div>
      <div class="col-md-2 col-md-offset-7">
        <center>
        <button id="preview" class="btn btn-success" style="margin-top:20px; margin-bottom: 20px;">Download</button>
        </center>
      </div>
  </div>
  {% if not PO %}
    <div id="loading-div" class="row">
        <center>
        <i class="fa fa-refresh fa-spin fa-5x" style="font-size: 20em;"></i>
        <br/>
        </center>
        <script type="text/javascript">
            setTimeout(function () { location.reload(1); }, 3000);
        </script>
    </div>
  {% else %}
      <script type="text/javascript">
          var PO_DATA = '{{ PO | tojson }}';
    </script>
      <div id="po-container" class="container">
     <!--  <div class="row thead" style="background-color: rgba(0,0,0,0.8);">
        <div class="col-md-6 text-center" style="height:40px">
          <h4>
          Source (Hindi)
          </h4>
        </div>
        <div class="col-md-6 text-center" style="height:40px">
          <h4>
          Target (Panjabi)
          </h4>
        </div>        
      </div> -->
      </div>
  {% endif %}
</div>
<script type="text/javascript">
  window.uid = '{{uid}}';
  window.fileName = '{{fileName}}';
</script>
{% endblock %}

